@import common

// spinner stuff:
@keyframes rotating {
	from {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
@-webkit-keyframes rotating {
	from {
	transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 0.5s linear infinite;
	-moz-animation: rotating 0.5s linear infinite;
	-ms-animation: rotating 0.5s linear infinite;
	-o-animation: rotating 0.5s linear infinite;
	animation: rotating 0.5s linear infinite;
}

.show
	opacity 1 !important

.content
	position absolute
	top 0px
	bottom 0px
	left 0px
	right 0px
	margin auto
	width 100%
	text-align center
	background-color offblack
	opacity 0
	transition opacity 0.3s // hide everything at the start, wait until everything is loaded before showing

	video
		position absolute
		top 0px //left, width and height are set by javascript
		pointer-events none

	.overlay
		position absolute
		top 0px //left, width and height are set by javascript
		z-index 99 // doesn't make any difference on mobile
		// border 10px solid red //debug


		.endimage
			position absolute
			top 0px
			left 0px
			width 100%
			height 100%
			opacity 0
			transition opacity 1s

		.play, .rotating
			position absolute
			left 50%
			top 50%
			margin-left -35.5px
			margin-top -35.5px
			width 71px
			height 71px
			cursor pointer
			transition opacity 0.5s
			opacity 0.8
		.play.hide, .rotating.hide
			opacity 0

		.yesimage
			position absolute
			bottom: 38.6%;
			right: 36.3%;
			width: 26%;
			//height is set by javascript, equals width in px
			background-image url('/images/yes.png')
			background-size 100% 100%
			cursor pointer
			opacity 0
			transition opacity 1s, background-image 0.2s

		.yesimage:hover
			background-image url('/images/yes_glow.png')

		.response
			position absolute
			top 0px
			left 0px
			width 100%
			height 100%
			background-color offblack
			text-align center
			color #FFFFFF
			text-shadow 1px 1px #000000
			font-weight 300
			font-size 20px
			opacity 0
			transition opacity 1s
			display table

		.response p
			display table-cell
			vertical-align middle
			text-align center
			opacity 0
			transition opacity 1s

		.choice
			position absolute
			bottom -56px
			left 0px
			width 100%
			opacity 0
			transition opacity 1s
			.yes, .no
				font-weight 300
				cursor pointer
				font-size 20px

			.yes
				color #baba20

			.yes:hover, .no:hover
				text-decoration underline



// on smartphones:
@media screen and (max-width: 768px)
	.content
		.overlay
			.response
				font-size 13px





