doctype html5
html
	head
		title=title
		meta(charset='utf-8')
		meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
		meta(name='apple-mobile-web-app-capable', content='yes')
		link(rel='stylesheet', href='stylesheets/style.css')

		script(type='text/javascript', src='/vendor/jquery-2.1.1.min.js')
		script(type='text/javascript', src="/vendor/fastclick.js")

		script(type='text/javascript', src='/javascripts/index.js')
	body
		.content
			//- video(autoplay='autoplay')
			video
				source(src='/video/#{video}', type='video/mp4')

			.overlay
				//- only needed on iPhone/iPod:
				img.endimage(src='/video/end.png')

				.response.thankyou
					p Bedankt #{name}, tot op mijn verjaardagsfeestje!
				.response.toobad
					p Kieken, je weet niet wat je mist.

				img.play(src='/images/playbutton.png')


				.yesimage

				.choice
					.yes Ja, ik kom af
					.no Helaas, ik kan niet